body {
	background-color: #0b1a3c;
	color: white;
	text-align: center;
}
.coin-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.coin {
  width: 550px;
  height: 550px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.coin.flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
}

.front {
  background-image: url("../img/Fear.png");
  background-size: cover;
  background-position: center;
}

.back {
  background-image: url("../img/Faith.png");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}
